svg {
    height: 100%;
    width: 100%;
}

.node circle {
    stroke-width: 1px;
}

.edge {
    stroke: #aaa;
    stroke-width: 2px;
    stroke-opacity: 0.6;
}

.node-name, .edge-name {
    font-size: 6px;
}

.node *:not(text) {
    cursor: pointer;
}

/* .edge {
    stroke-dasharray: 2;
} */

